body
{
background-position: cover;
}

.heading
{
    background-color: lightgray;
    color: lightgreen;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.instruction
{
    background-color: lawngreen;
    color: lemonchiffon;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}

#status
{
    background-color: lightblue;
    color: lightcoral;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
